@inherits LayoutComponentBase

<div class="Page">
    @Body
</div>

<footer class="Footer">
    <div @onclick=@GoTo("/home") class="@(Path == "/home" ? "Active" : "")">
        @Icons.Home
        <span>@L["MainLayout.Home"]</span>
    </div>
    <div @onclick=@GoTo("/news") class="@(Path == "/news" ? "Active" : "")">
        @Icons.News
        <span>@L["MainLayout.News"]</span>
    </div>
    <div @onclick=@GoTo("/settings") class="@(Path == "/settings" ? "Active" : "")">
        @Icons.Settings
        <span>@L["MainLayout.Settings"]</span>
    </div>
</footer>

@code {
    string Path => new Uri(Navigation.Uri).LocalPath;
    Action GoTo(string path) => (() => Navigation.NavigateTo(path));
}